<noscript>
    <img src="https://counter2000.herokuapp.com/ingress/b215f9b7-2378-4653-8b30-225621c64991/pixel.gif" alt="counter" title="counter">
</noscript>
<script defer src="https://counter2000.herokuapp.com/ingress/b215f9b7-2378-4653-8b30-225621c64991/script.js"></script>
